body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/backgrounds/starfall-gif-46.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @keyframes scaleAnimation {
    0% {
      transform: scale(1); /* Tamanho inicial */
    }
    50% {
      transform: scale(1.05); /* Tamanho aumentado */
    }
    100% {
      transform: scale(1); /* Tamanho final, volta ao tamanho original */
    }
  }

.cookie{
    cursor: pointer;
    background-color: transparent;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -ms-user-select: none; /* IE/Edge */
    animation: scaleAnimation 2s ease-in-out infinite;;
}

.cookie :active{
    transform: scale(1.1);
}



.title{
    text-align: center;
    color: white;
    font-family: 'Merriweather', Georgia,serif;
    opacity: 0.7;
}

.audioIcon{
    position: fixed;
    bottom: 10px; /* Distância do elemento em relação à parte inferior da página */
    left: 125px; /* Distância do elemento em relação à parte esquerda da página */
    
}

#pauseButton{
    padding-top: 30px;
    cursor: pointer;
   
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -ms-user-select: none; /* IE/Edge */
}
/* 
#musicText{
        color: white;
        font-family: 'Merriweather', Georgia,serif;
        opacity: 0.7;
        display: inline;
     padding-left: 10px;

} */

.cardin{
    position: fixed;
    top: 5px;
    right: 5px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #modal {
    top: 0;
    right: 0;
    position: fixed;
    background-color: #fff;
    border-radius: 5px;
    width: 20%;
    height: 100%;
  }

  @media (max-width: 600px) {
    #modal {
      width: 100%;
    }
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.fechar{
    position: fixed;
    right: 55px;
    bottom: 5px;
}

  .direita{
    position:fixed;
    bottom: 5;
    right: 5;
  }

  h4{
    margin: 0;
  }

  #randomElement {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    display: none;
    animation: girar 8s linear infinite;;
  }

  @keyframes girar {
    from {
      transform: rotate(0deg);

    }
    to {
      transform: rotate(360deg);

    }
  }

header{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
}

header h4{
  position: absolute;
  left: 10%;
  bottom: 1rem;
  font-size: 1.6rem;
}

/*Splash screen*/

.intro{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition:1s;
}

.logo-header{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}

.logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade{
  bottom:150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
